<div
  class="relative min-h-screen flex items-center justify-center bg-neutral-200 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
>
  <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
  <div class="sm:max-w-lg w-full p-10 bg-white rounded-xl z-10">
    <div class="text-center mb-6">
      <h2 class="mt-5 text-3xl font-bold text-gray-900">Photo Upload!</h2>
    </div>
    <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
      <div class="text-center">
        <img
          [src]="imgSrc"
          width="350px"
          height="250px"
          class="object-contain h-48 w-96 overflow-hidden mb-6"
          (click)="fileUploader.click()"
        />
      </div>
      <div class="form-group mb-6">
        <label>Select file to upload</label>
        <input
          type="file"
          accept="image/*"
          class="form-control"
          #fileUploader
          formControlName="imageUrl"
          (change)="showPreview($event)"
        />
        <div
          class="text-rose-500 mb-6"
          *ngIf="isSubmitted && formControls.imageUrl.errors?.required"
        >
          This field is required.
        </div>
      </div>
      <div class="form-group mb-6">
        <input
          class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          formControlName="title"
          placeholder="Title"
        />
        <div
          class="text-rose-500 mb-6"
          *ngIf="isSubmitted && formControls.title.errors?.required"
        >
          This field is required.
        </div>
      </div>
      <div class="form-row flex justify-between items-center mb-6">
        <div class="form-group">
          <span
            routerLink="/image/list"
            class="text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 duration-200 transition ease-in-out"
            >Go To Photos
          </span>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="inline-block bg-blue-600 rounded-full px-3 py-1 text-sm mr-2 mb-2 text-white"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
